
body{
    color: #40514e;
    margin: 0;
    font-family: serif;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 100%;
h1{ 
    color:#66bfbf;
    font-size: 5.625rem;
    margin:0px auto 0px auto;
    font-family: "Sacramento", cursive;
    
}
h2{
    color:#66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding: 10px;
   

}
h3{
    coclor:#11999e;
    font-family: "Montserrat", sans-serif;

}

p{
    line-height: 2;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto ;
}

   
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
   
}

.top-cloud{

    position:absolute;
    right: 250px;
    top:40px;
   
}
.bottom-cloud{
    position:absolute;
    left:150px;
    bottom: 50%;
}

.skill-row{
    width:50%;
    margin: 80px auto 80px auto ;
    text-align: left;
   
}
.code-img{
    width:25%;/*根据其父项的宽度缩小,占父项的四分之一,父项本身是50%*/
    float: left;
    margin-right:30px;
}
.chilli-img{
    width:25%;/*根据其父项的宽度缩小*/
    float: right;
    margin-left: 30px;
    

}
.middle-container{
    margin: 100px 0;

}
.intro{
    width: 30%;
    margin: auto;
}

.portrait-img{
    width: 25%;
    
}
.contact-message{
    width:40%;
    margin: 40px auto 60px;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 20px 20px;
    text-decoration: none;
}

a:hover{
    color: #eaf6f6;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;

}

.contact-me{
    padding: 0 0 100px;

}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
